<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="style2.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;531;600;700;800;900&amp;display=swap"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,700&amp;display=swap" rel="stylesheet"/>
    <title>Главная</title>
</head>

<body>
<div>
    <form method="post">
        <input type = "text" name = "name" placeholder = "Enter name"><br>
        <input type = "text" name = "size" placeholder = "Enter size"><br>
        <input type = "text" name = "duration" placeholder = "Enter duration"><br>
        <button type = "submit">Add</button>
    </form>
</div>
</body>
</html>
